.body{
    margin: 0;
}

*{
    margin: 0;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.image-container>img{
    width: 100%;
}

.headding>h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #547128;
    font-size: 22px;
    margin: 0;    
}

.headding{
        padding: 10px 0px 10px 0px;
}

.second-headding{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #547128;
    font-size: 20px;
}

.para-icon-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding: 20px 31px 10px  31px;
}

.para-text{
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #58595b;
    text-align: justify;
    text-align-last: center;
    line-height: 1.5
}

.image-icons-container{
    display: flex;
    justify-content: space-evenly;
    background-color:#ececec;;
    padding: 0px 10px 5px 10px
}

.image-icons{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: end;
    text-align: center;
}



.leasnow-button{
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding: 20px 0px 20px 0px;
}

.leasnow-button>button{
    border: none;
    border-radius: 5px;
    background-color: #547128;
    color: white;
    padding: 10px 40px 10px 40px; 
    cursor:pointer;
}

.service-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 10px;
}

.service-image{
    display: flex;
    flex-direction: column;
}

.property-image-container{
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    padding: 0px 5px 20px 5px;
}

.table-container{
    background-color: #ececec;
    padding-left: 22px;
    padding-right: 22px;
}

table, td, th {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #547128;
}

th {
    background-color: #547128;
    color: white;
    font-size: 12px;
  }

td {
    padding: 10px;
    text-align: center;
    background-color: #ececec;
}

table{
    border-collapse: collapse;
    width: 100%;
}


.location-container{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #547128;
    padding-bottom: 10px;
}

.location-image{
    padding-top: 20px;
    padding-bottom: 20px;
}

#img-tour{
    padding-left: 40px;
}


.footer-container, .footer-text, .social-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ececec;
}

.footer-container{
    padding: 5px 25px 10px 25px;
}

.google-apple-store-container,.apple-google-img{
    display: flex;
    justify-content: center;
    background-color:#ececec;
}

#g-play{
    padding-left: 4px;
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    color: #547128;
    font-size: 11px;
    font-weight: 600;
}

.code-text{
    font-family: Arial, Helvetica, sans-serif;
    color: #547128;
    font-size: 9px;
}

.footer-end{
    background-color:#afafaf;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }


  /* responsive media design starts  */


  @media only screen and (max-width: 480px) {
    .inner-container{ 
      width: 390px;
  }
}

  @media only screen and (max-width: 480px) {
    .headding>h2{ 
      font-size:20px ;
  }
}

  @media only screen and (max-width: 480px) {
    .second-headding { 
      font-size:15px ;
  }
}

@media only screen and (max-width: 320px) {
    .second-headding { 
      font-size:13px ;
  }
}


@media only screen and (max-width: 480px) {
    .para-text { 
      font-size:13px ;
  }
}


@media only screen and (max-width: 480px) {
    .para-icon-container { 
      padding: 20px 22px 10px 22px;
  }
}

  @media only screen and (max-width: 600px) {
    .property-image-container>img { 
      width: 160px;
  }
}

  @media only screen and (max-width: 480px) {
    .property-image-container>img { 
      width: 110px;
  }
}

  
  @media only screen and (max-width: 320px) {
    .property-image-container>img { 
      width: 90px;
  }
}

@media only screen and (max-width: 480px) {
    .service-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 480px) {
    .image-icons{ 
      font-size: 8.3px;
  }
}

  @media only screen and (max-width: 320px) {
    .image-icons{ 
      font-size: 7px;
  }
}

@media only screen and (max-width: 320px) {
    .image-icons{ 
      font-size: 7px;
  }
}

@media only screen and (max-width: 480px) {
    td,  tr { 
      font-size: 14px;
      padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
    .location-image>img { 
      width: 100px;
  }
}

@media only screen and (max-width: 480px) {
    .location-container { 
      font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
    #img-tour { 
    padding-left: 10px;
     
  }
}

@media only screen and (max-width: 480px) {
    .footer-text{ 
    font-size: 7px;
     
  }
}

@media only screen and (max-width: 480px) {
    .social-icon{ 
    width: 70px;
     
  }
}


